In [1]:
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
def say_something(something):
    print(something)
    
say_something("Hello, world!")

Hello, world!

In [4]:
my_grades = ['B', 'C', 'B', 'D']

In [5]:
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [6]:
my_grades.map({'B':'jug', 'C':'B', 'D':'C'})

0    jug
1      B
2    jug
3      C
dtype: object

In [7]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [8]:
for grade in my_grades:
    print(f"{grade:.0f}")

92
85
87
98

In [9]:
my_grades = pd.Series([92.3, 84.56, 86.78, 78.32])
my_grades

0    92.30
1    84.56
2    86.78
3    78.32
dtype: float64

In [10]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [11]:
class Cat:
    def __init__(self, name):
        self.name = name

In [12]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [13]:
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [14]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    
    def bark(self):
        return self.sound + ' ' + self.sound

In [16]:
first_dog = Dog('Pluto', 'yellow', 'arf')
first_dog.bark()

'arf arf'